* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
:root {
    --light-text: rgba(240, 240, 240, 0.925);
    --gray-text: rgb(192, 192, 192);
    --dark-blue-text: rgb(0, 30, 44);
}

body {
    width: 100%;
    height: fit-content;
    font-family: 'Libre Franklin', 'Arial Narrow', sans-serif;
}

p, span {
    font-family: 'Source Sans Pro', sans-serif;
}

span {
    font-weight: 300;
}
a {
    text-decoration: none;
    color:rgb(68, 68, 68);
}
.content-wrapper {
    padding: 20px 1vw;
}

@keyframes name {
    0%   {right: 100vw;}
    100%   {right: 0vw;}
}

@keyframes upward {
    50%   {top: 100vh;}
    100%   {top: 0vh;}
}

@keyframes right-to-left {
    0%   {left: 100vw;}
    100%   {left: 0vw;}
}

.head {
    text-transform: uppercase;
    text-align: center;
    font-size: 68px;
    color: rgb(0, 30, 44);
    font-weight: 700;
    position: relative;
    animation-name: name;
    animation-duration:0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}

.profile-picture {
    border-radius: 50%;
    width: 100px;
    box-shadow: 0px 0px 5px rgb(0, 30, 44);
}
.fullname {
    text-transform: uppercase;
    text-align: center;
    font-size: 68px;
    color: rgb(0, 30, 44);
    font-weight: 700;
}

.main-container {
    border-top: 5px solid rgb(0, 30, 44);
}
.experience-wrapper {
    margin: 2em 0px;
}
.contact-details {
    padding: 20px 0px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    position: relative;
    animation-name: right-to-left;
    animation-duration: 1.4s;
    /* animation-delay: 2s; */
}
.contact-tabs {
    width: fit-content;
    display: flex;
    flex-direction: row;
    padding: 5px;
    position: relative;
    text-align: center;
    align-items: center;
}

.contact-tabs h3 {
    background:rgb(3, 67, 97);
    color: white;
    padding: 2px 5px;
}

.contact-tabs span {
    padding: 0px 5px;
    font-size: 1.1em;
    font-weight: 400;
}

.portfolio {
    border: 2px solid rgb(0, 30, 44);
    border-radius: 20px;
    padding: 0.6em 1em;
}

.portfolio:hover {
    background: rgb(0, 30, 44);
    color: white;
}
.portfolio:hover span a {
    color: var(--light-text);

}
.body {
    border-top: 5px solid rgb(192, 219, 231);
    border-bottom: 10px solid rgb(192, 219, 231);
    padding: 20px 0px;
    padding-bottom: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: fit-content;
    width: 100%;
}

.body h3 {
    color:rgb(0, 30, 44);
    text-transform: uppercase;
    width: 100%;
    padding: 5px 20px;
    font-size: 2em;
    border-bottom: 2px solid rgb(0, 30, 44);
    margin: 10px 0px;
}

.body h4 {
    color:rgb(0, 30, 44);
    font-size: 1.55em;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0.5em 0px;
}


.body h4 a img {
    max-height: 40px;
    border-radius: 10px;
    margin-right: 1em;
}

.body h4 span {
    font-weight: 400;
    margin: 0 10px;
}

.left {
    width: 66%;
    position: relative;
    animation-name: upward;
    animation-duration: 3s;
}

.left-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.left-content p {
    padding: 0px 20px;
    font-size: 1.3em;
    color: gray;
}

li {
    font-size: 1.3em;
    color: gray;
    margin: 10px;
}

.left-content li {
    margin-left: 90px;
}

.portfolios{
    display: flex;
    justify-content: space-between;
}
.project {
    width: 30%;
    border: 1px solid;
    border-radius: 10px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.preview {
    width: 100%;
    background: rgb(0, 30, 44);
    padding: 1em;
    color: rgba(240, 240, 240, 0.925);
    text-align: center;
    font-weight: 600;
}


.right {
    width: 32%;
    background: rgb(0, 30, 44);
    padding: 20px;
    padding-top: 0px;
    position: relative;
    animation-name: upward;
    animation-duration: 2s;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(196, 196, 196);
}

.right h3 {
    border: none;
    padding: 0px;
    color: var(--light-text);
}

.right-content h4 {
    padding-top: 30px;
    color: var(--light-text);
}



.right-content h4.degree {
    padding-top: 5px;
    font-weight: 500;
}

.right-content span {
    font-size: 1.5em;
    color: var(--gray-text);
}

.skills-wrapper {
    margin-top: 40px;
}

.right-content li {
    margin-left: 70px;
    color: var(--light-text);
}
.bottom-reference {
    display: none;
}

@media screen and (max-width: 1210px) {
    div.contact-details {
        flex-wrap: wrap;
        justify-content: center;
    }

@media screen and (max-width: 960px) {
    body {
        padding: 10px;
    }
    .content-wrapper {
        padding: 0px;
    }
    .body {
        flex-direction: row;
    }
    .left {
        width: 60%;
    }
    .right {
        width: 40%;
    }
}

@media screen and (max-width: 800px) {
    div.content-wrapper {
        padding: 30px;
    }
    .head {
        padding: 10px;
        font-size: 3.2em;
    }
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .head {
        padding: 0px;
    }
    div.content-wrapper {
        padding: 5px;
    }
    div.contact-details {
        justify-content: flex-start;
    }
    .contact-tabs span {
        font-size: 1em;
    }
    .main-container {
        width: 100%;
        padding: 0px;
    }
    .body {
        flex-direction: column;
        padding: 0px;
    }
    .head {
        padding: 0px;
        font-size: 2.0em;
    }
    .left {
        width: 100%;
    }
    .left-content p {
        font-size: 1em;
    }
    .left-content span {
        font-size: 1em;
    }
    .left-content li {
        font-size: 1em;
    }
    .left-content h3 {
        font-size: 1.6em;
    }
    .left-content h4 {
        font-size: 1.3em;
    }
    .right {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .right-content p {
        font-size: 1em;
    }
    .right-content span {
        font-size: 1em;
    }

    .right-content li {
        font-size: 1em;
    }
    .right-content h3 {
        font-size: 1.6em;
    }
    .right-content h4 {
        font-size: 1.3em;
    }
    .references {
        display: none;
    }
    .bottom-reference {
        display: block;
    }
}
}


@media screen and (max-width: 480px){
    .fullname {
        font-size: 1.4em;
    }
}